@import "_reset.css";
@import "_default.css";

.btn {
  padding: 12px 24px;
  background-color: red;
  color: white;
  display: inline-block;
  border-radius: 4px;
}

.btn__block {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.img__block {
  margin-top: 15px;
  position: relative;
}
