@import "_reset.css";
@import "_default.css";

.btn {
  padding: 9px 18px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.6);
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
}

.btn__next {
  right: 0;
  bottom: 0;
  top: 0;
  padding-right: 10px;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 1;
}

.btn__back {
  left: 0;
  bottom: 0;
  top: 0;
  padding-left: 10px;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 1;
}

.btn__block {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

.btn__block-field {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  padding: 5px 10px;
  display: flex;
  gap: 10px;
}

.btn__block-field span {
  cursor: pointer;
}

.slider__block {
  margin-top: 15px;
  position: relative;
  overflow: hidden;
}

.img__block {
  display: flex;
  align-items: center;
  gap: 20px;
}
